body{
    margin:0;
  padding-top:100px;
  font-family: "Karla", sans-serif;
}
.header{
    position: absolute;
    top: 0;
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    color:white;
    background-color: rgb(120, 4, 230);

   
}
main{
    padding:44px;
}
.my-name{
    font-size:20px;
    padding-right:10px;
}
.form{
  display:grid;
  grid-template: 40px 40px / 1fr 1fr;  
  gap:15px;
  margin-bottom: 17px;
}
.form--submit{
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}
.form--input{
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}
.meme{
    position:relative;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    overflow: hidden;
    position: sticky;
}



.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}